.jumbotron{
  margin-bottom: 0;
}

.carousel{
  margin-top: 0px;
}
.carousel-inner{
  height: 128px;
  /* height: 160px; */
}
.carousel-caption{
  color: black;
  top: 50%;
}

.addButton {
  padding: 10px;
  width: max-content;
  margin: auto;
}

.deleteButton {
  margin-left: 10px;
}
